{
  "resources":[
    {
      "path":"src/assets/mod_assets/",
      "resourceType":"resource"
    },
    {
      "path":"src/assets/mod_assets/gui/",
      "resourceType":"gui"
    }
  ],
  "defaultConfig":{
    "buildType":"develop",
    "api":"CoreEngine",
    "libraryDir":"src/lib/",
    "resourcePacksDir":"src/assets/resource_packs/",
    "behaviorPacksDir":"src/assets/behavior_packs/"
  },
  "buildDirs":[
    {
      "targetSource":"main.js",
      "dir":"src/dev/"
    },
    {
      "targetSource":"src/preloader.js",
      "dir":"src/preloader/"
    }
  ],
  "compile":[
    {
      "path":"src/main.js",
      "sourceType":"mod"
    },
    {
      "path":"src/launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"src/preloader.js",
      "sourceType": "preloader"
    }
  ]
}